---
 const personalImageAlt = "Alejandro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      <strong>Me llamo Alejandro, tengo 30 años y soy de Canarias - La Palma</strong>. Comencé en el mundo de la informática desde los 12 años, siendo como muchos un 'Gamer' y entrándome la curiosidad de como desarrollar mi propio servidor de ese juego que tanto jugaba online, tanto fue lo autodidacta y la curiosidad que empecé haciendo servidores de Roleplay en GTA SA-MP y <strong>a día de hoy continúo pero en GTA V - FiveM.</strong>
    </p>

    <p>
      Personalmente soy muy <strong>meticuloso, organizado y me gusta la perfección, intento siempre cuidar la imagen</strong>, ya sea para proyectos personales o de clientes, y al haber trabajado
      para varias empresas, he decidido dar el salto y ser independiente, por lo que estoy con mi propia agencia de Diseño web con CMS como Wordpress o Shopify, pero también desarrollo desde 0, tanto web como APPs para dispositivos móviles,... pero también abarco el Diseño gráfico, para dar ese salto de calidad a todos nuestros clientes y poder avanzar juntos.
    </p>
  </div>

  <img width="200" height="200" src="https://avatars.githubusercontent.com/u/18013442" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
