---
import ExperienceItem from "./ExperienceItem.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import SocialPill from "@/components/SocialPill.astro"
const EXPERIENCE = [
  {
    date: "Octubre - Noviembre 2024",
    title: "Auxiliar de Producción",
    company: "Sur-Film",
    description:
      "Departamento de localizaciones en rodaje de 'Wycaro 339' para APPLE TV.",
    link: "https://www.imdb.com/title/tt22202452/",
  },
  {
    date: "Septiembre 2024",
    title: "Ayudante de Producción",
    company: "Enróllate Films",
    description:
      "Departamento de localizaciones para spot publicitario Video Film Commission.",
  },
  {
    date: "Junio - Julio 2024",
    title: "Ayudante de Producción",
    company: "Sur-Film",
    description:
      "Departamento de localizaciones en rodaje de 'The Choice' para NETFLIX.",
      link: "https://www.imdb.com/title/tt31806048/",
  },
  {
    date: "Julio 2023",
    title: "Staff/Organizador evento CS:GO",
    company: "Tenerife GG",
    description:
      "Formé parte de la administración y de la gestión de los servidores para los torneos presenciales de CS:GO en el evento.",
      link: "https://www.youtube.com/watch?v=dLYsv7gBACc",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

<ol class="relative mt-16">
  <SocialPill href="https://linkedin.com/in/aleelpalmero">
    <LinkedInIcon class="size-4" />
    Ver toda la experiencia
  </SocialPill>
</ol>
