---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Octubre 2024",
    title: "Auxiliar de Producción",
    company: "Sur-Film",
    description:
      "Departamento de localizaciones en rodaje de Wycaro 339 para APPLE TV.",
    link: "https://www.imdb.com/title/tt22202452/",
  },
  {
    date: "Septiembre 2024",
    title: "Ayudante de Producción",
    company: "Enróllate Films",
    description:
      "Departamento de localizaciones para spot publicitario Video Film Commission.",
  },
  {
    date: "Junio - Julio 2024",
    title: "Ayudante de Producción",
    company: "Enróllate Films",
    description:
      "Departamento de localizaciones en rodaje de 'The Choice' para NETFLIX.",
      link: "https://www.imdb.com/title/tt31806048/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
